@media screen and (max-width: 576px) {
  .nav-container {
    max-width: 100%;
  }
  .nav-items {
    display: none;
  }
  .bars-icon {
    display: block;
  }

  .btn-primary,
  .white-btn {
    font-size: 1rem;
  }

  .banner-content {
    flex-direction: column;
    gap: 50px;
  }

  #banner-description {
    width: fit-content;
  }

  .banner-titel {
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 3rem;
  }

  .banner-img img {
    width: 70%;
    margin-left: 80px;
  }

  .banner-text {
    margin-top: 0px;
  }

  .banner-img {
    position: relative;
    width: 100%;
  }

  .box-1,
  .box-2 {
    width: 150px;
    height: 80px;
  }

  .box-1 {
    padding: 15px 10px;
    margin-left: 60px;
  }

  .text-box h1 {
    font-size: 1.2rem;
  }
  .text-box p {
    font-size: 0.8rem;
  }

  .box-2 {
    margin-top: -50px;
    width: 130px;
    height: 70px;
  }

  .habit-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  #titel-habit {
    font-size: 2.5rem;
  }

  #habit-description {
    width: fit-content;
    font-size: 1rem;
  }

  .runbox-section {
    width: fit-content;
  }

  .runbox-container {
    flex-direction: column;
    gap: 50px;
  }

  .runbox-text {
    width: 100%;
  }

  #box-titel {
    font-size: 2.5rem;
  }

  #box-description {
    font-size: 1rem;
  }
  .runbox-img {
    width: 100%;
  }

  .bmi-container {
    flex-direction: column;
    gap: 50px;
  }

  #titel-bmi {
    font-size: 1.5rem;
  }

  .titel-bmi h1 {
    font-size: 2rem;
  }

  .bmi-chart {
    width: fit-content;
  }

  .bmi-input {
    width: fit-content;
  }

  .input-form input {
    width: 70%;
    height: 30px;
    font-size: 0.8rem;
  }

  .select-input {
    width: 100%;
    font-size: 0.8rem;
  }

  .head-titel {
    font-size: 2rem;
  }

  table,
  th,
  td {
    font-size: 1rem;
    padding: 10px 10px;
  }

  .meet-header h1 {
    font-size: 2rem;
  }
  .meet-header p {
    width: 270px;
    margin: 0 auto;
    font-size: 0.8rem;
  }

  .meet-container {
    width: fit-content;
    grid-template-columns: repeat(1, 1fr);
  }

  .blog {
    width: 100%;
    height: auto;
  }

  .blog-container {
    width: 100%;
    gap: 25px;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    padding-top: 20px;
  }

  .footer-logo-div {
    width: 100%;
    padding-left: 10px;
  }

  .footer-nab {
    width: 100%;
    margin-left: 10px;
  }
  hr {
    width: 95%;
  }
}

@media screen and (max-width: 320px) {
  .box-1,
  .box-2 {
    width: 100px;
    height: 70px;
  }

  .box-1 {
    padding: 5px;
    top: 80px;
    margin-left: 10px;
  }

  .box-2 {
    top: 300px;
    right: 200px;
  }

  .input-form input {
    width: 50%;
    height: auto;
  }

  .select-input {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
  }
}
