* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

/* shared style strat  */

.btn-primary {
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  border: none;
  font-weight: 700px;
  background-color: rgb(235, 93, 41);
  color: white;
  font-size: 1.3rem;
}

.white-btn {
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  font-weight: 700px;
  background-color: gray;
  color: white;
  font-size: 1.3rem;
}
/* shared style  end */
/* Heder style strat  */

/* nav item style start  */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: orange;
  font-weight: 800px;
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-items a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
.nav-items li {
  list-style: none;
}
/* nav item  style end  */
